.HeroSec{
   background-image: url(images/bg.png);
}
.card{
   background-color: rgba(255, 255, 255, 0.5); 
   border-radius: 20px;
}
*{
  font-family: "Inter", sans-serif;

}
.inputFeild{
  outline: none;
  border-color: #e53e3e;
  box-shadow: 0 0 5px rgba(229, 62, 62, 0.5);

}